[MAIN]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        E1101, #has no member
        W0613, #unused args
[SIMILARITIES]
min-similarity-lines=10
